.dialog {
    z-index: 999999 !important;
}

.ui-dialog {
    z-index: 999999 !important;
}

.ui-dialog-titlebar-close {
    display: none;
}

.ui-dialog-title {
    position: absolute;
}

.ui-dialog-titlebar {
    height: 2em;
}